REDIS_URL=redis://:redisadmin@localhost:6379

MINIO_ENDPOINT=localhost:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
MINIO_MEDIA_BUCKET=media
MINIO_SUMMARY_BUCKET=summaries

GOOGLE_API_KEY=changeme
GEMINI_MODEL=gemini-2.5-flash-lite
WHISPER_MODEL=base
PROXIES=
