[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
fastapi = "*"
uvicorn = "*"
accelerate = ">=0.26.0"
python-multipart = "*"
ffmpeg = "*"
numpy = "==2.1.0"
assemblyai = "*"
faster-whisper = "*"

[dev-packages]

[requires]
python_version = "3.12"
